body {
    background-color: #181818;
    color: #fafafa;
    font-family: 'Spectral SC', serif;
};

.tty::after {
    content: attr(data-last);
    transform: translate(100%, 0);

    color: #0acc08;
}

header {
    opacity: 0;
    display: flex;
    justify-content: center;
    
    h1 {
        background-color: salmon;
        padding: 1rem;
        border-radius: 3px;
    };
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}