$main: #d0d0d0;

body {
  background: #000;
  color: $main;
  font-family: 'Courier';
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tty__line::after {
  content: attr(data-last);
  color: #0acc08;
}

header {
  opacity: 0;
  display: flex;
  justify-content: center;

  h1 {
    background-color: salmon;
    padding: 1rem;
    border-radius: 3px;
  }
}

main {
  width: 30rem;
}

.tty {
  max-height: 3rem;
  background-color: #181818;
  border-radius: 3px;
  padding: 1rem;
  transition-property: max-height;
  transition-duration: 2.3s;

  &--clicked,
  &--posting {
    max-height: 60rem;

    & > .tty__input {
      opacity: 1 !important;
    }
  }
}

.tty__input > input,
.tty__input > textarea {
  width: 28rem;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  border: none;
  outline: none;
  caret-color: rgb(0, 200, 0);
}

.tty__input > textarea {
  height: 4rem;
}

.tty__input {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
  display: flex;
  align-items: center;
  border: 0;
  border-top: 1px;
  border-color: rgb(216, 203, 32);
  border-style: dashed;
  padding-top: 0.5rem;
  margin-bottom: 0;

  &--success {
    border-color: green;
  }

  &--error {
    border-color: red;
  }

  &--info {
    border-color: #2255aa;
  }
}

.tty__output {
  min-height: 4rem;
  padding-bottom: 0.33rem;
}

.char-count {
  color: lighten(lightseagreen, 25%);

  &--warning {
    color: lightsalmon;
  }

  &--error {
    color: darken(lightsalmon, 75%);
  }
}

.post-controls {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__submit {
    cursor: pointer;
    margin-bottom: 0.5rem;
    border-width: 0px;
    border-radius: 5px;
    background-color: royalblue;
    color: black;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
