# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

node_modules/
.npm
src/config.ts
package-lock.json
travis.log

# Testing
coverage
cypress/screenshots
cypress/videos

# Builds
build