<!DOCTYPE html>
<html lang="en_US">
  <head>
    <title>Welcome to Mosey Systems</title>
    <link
      href="https://fonts.googleapis.com/css?family=Spectral+SC"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <% if (htmlWebpackPlugin.options.env === 'staging') { %>
    <script>
      window.env = 'staging'
    </script>
    <% } else { %>
    <script>
      window.env = 'production'
    </script>
    <% } %>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <!-- 🙈 -->
  <script>
    if (window.env === 'production') {
      const stag = document.createElement('script')
      stag.src = "https://chaitown.mosey.systems/charcoal-client/index.js"
      stag.onload = () => window.trackPageview({ location: "mosey.systems" })
      document.documentElement.appendChild(stag)
    }
  </script>
</html>
