.reader {
  background-color: #181818;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.7rem;

  &__post {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-of-type) {
      padding-bottom: 0.25rem;
      border-bottom: 1px dashed;
    }

    &:not(:first-of-type) {
      padding-top: 0.25rem;
    }
  }

  &__user {
    background-color: #383838;
    padding: 0.5rem;
    border-radius: 3px;
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__message {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 80%;
  }

  &__time {
    color: #a8a8a8;
    font-style: italic;
    font-size: 0.5rem;
    max-width: 4rem;
  }
}
